<extend name="Public/base" />

<block name="body">
<!-- 新加样式 -->
<style>
	.drop-down { width:120px !important; }
	.sort-txt { width:80px !important;}
	.drop-down ul a { width:80px !important;}
	.change { height:30px !important;}
	.fl { margin-right:10px;}
	.asc,.desc { color:#fff; text-decoration: none; }
	a.asc:hover,a.desc:hover { color:#fff; text-decoration: none;}
</style>

	<!-- 标题栏 -->
	<div class="main-title">
		<h2>单品销售数据表&nbsp;&nbsp;<?php if(I('get.time-start')){ ?>({:I('get.time-start')} - {:I('get.time-end')})<?php } ?></h2>
	</div>
	<div class="cf">
		<div class="fl">
			<!-- <button class="btn ajax-post confirm" url="{:U('Psi/contract_del')}" target-form="ids">批量删除</button> -->
        </div>
        <!-- 高级搜索 -->
		<div class="search-form fr cf">
			<div class="fl">
				<select name="category" id="category" onchange="gourl('category');" class="change">
					<option value="">请选择分类</option>
					<volist name="_sel.category._" id="vo">
						<option value="{$vo.id}" <?php if(I('category')==$vo['id']){ ?> selected <?php } ?> >{$vo.title}</option>
					</volist>
				</select>
			</div>
			<div class="fl">
				<div class="controls">
                    <select name="supplier" class="change" id="supplier" onchange="gourl('supplier');">
                        <option value="">选择供应商</option>
	                    <volist name="_sel.supplier" id="vo">
							<option value="{$vo.id}" <?php if(I('supplier')==$vo['id']){ ?> selected <?php } ?> >{$vo.company}</option>
						</volist>
                    </select>            
                </div>
			</div>
			<div class="sleft">
				<div class="drop-down">
					<span id="sch-sort-txt" class="sort-txt" data="{$type}"><if condition="I('type') eq ''">产品编码<else/>{:get_status_type($type)}</if></span>
					<i class="arrow arrow-down"></i>
					<ul id="sub-sch-menu" class="nav-list hidden">
						<li><a href="javascript:;" value="1">产品编码</a></li>
						<li><a href="javascript:;" value="2">产品名称</a></li>
					</ul>
				</div>
				<input type="text" name="keyword" class="search-input" value="{:I('keyword')}" placeholder="请输入查询关键字">
				<a class="sch-btn" href="javascript:;" id="search" url="{:U('Psi/data_1')}"><i class="btn-search"></i></a>
			</div>
            <div class="btn-group-click adv-sch-pannel fl">
                <button class="btn">周 期<i class="btn-arrowdown"></i></button>
                <div class="dropdown cf">
                	<div class="row">
                		<label>销售周期：</label>
                		<input type="text" id="time-start" name="time-start" class="text input-2x" value="" placeholder="起始时间" /> -                		
                        <div class="input-append date" id="datetimepicker"  style="display:inline-block">
                            <input type="text" id="time-end" name="time-end" class="text input-2x" value="" placeholder="结束时间" />
                            <span class="add-on"><i class="icon-th"></i></span>
                        </div>
                	</div>
                </div>
            </div>
		</div>
    </div>
	    <!-- 数据列表 -->
	    <div class="data-table table-striped">
		<table class="">
	    <thead>
	        <tr>
				<th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
				<th>序号</th>
				<th class=""><a href="#" class="asc" onclick="dosortMain($(this),'code');">产品编号</a></th>
				<th class=""><a href="#" class="asc" onclick="dosortMain($(this),'name');">产品名称</a></th>
				<th class="">OE</th>
				<th class=""><a href="#" class="asc" onclick="dosortMain($(this),'category');">分类</a></th>
				<th class="">适用车型</th>
				<th class="">库位</th>
				<th class=""><a href="#" class="asc" onclick="dosortMain($(this),'supplier');">供应商</a></th>
				<th class="">单价</th>
				<th class=""><a href="#" class="asc" onclick="dosortSp($(this),'num');">销售量</a></th>
				<th class=""><a href="#" class="asc" onclick="dosortSp($(this),'total');">销售额</a></th>
			</tr>
	    </thead>
	    <tbody>
			<notempty name="data">
			<volist name="data" id="vo" key="i">
			<tr>
	            <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}"/></td>
	            <td>{$i}</td>
	            <td>{$vo.code}</td>
				<td>{$vo.name}</td>
				<td>{$vo.OE}</td>
				<td>{$vo.category}</td>
				<td>{$vo.standard}</td>
				<td>{$vo.store_no}</td>
				<td>{$vo.supplier|get_company}</td>
				<td>{$vo.price}</td>
				<td>{$vo.num}</td>
				<td>{$vo.total}</td>
			</tr>
			</volist>
			<else/>
			<td colspan="9" class="text-center"> aOh! 暂时还没有内容! </td>
			</notempty>
		</tbody>
	    </table>
		</div>
	    <div class="page">
	        {$_page}
	    </div>
	<div class="fb">
		<span style="color:#aaa">友情提示：合同单删除后数据将无法恢复，之前所对应的计划单也将无法再重新转换，请慎重操作！</span>
	</div>    
</block>

<block name="script">
<link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
<php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>
<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>	
<script type="text/javascript">

//排序1:主表字段排序
function dosortMain(ob,f){	
	if (getQueryString('orderMain') == 'asc' && getQueryString('fieldMain') == f) { replaceParamVal('orderMain','desc'); };
	if (getQueryString('orderMain') == 'desc' && getQueryString('fieldMain') == f) { replaceParamVal('orderMain','asc'); };
	if (getQueryString('fieldMain') != f) {
		var d = ob.attr('class');  //排序方式
		replaceParamVal('orderMain|fieldMain',d+"|"+f);
	}
}

//排序2:副表字段排序
function dosortSub(ob,f){	
	if (getQueryString('orderSub') == 'asc' && getQueryString('fieldSub') == f) { replaceParamVal('orderSub','desc'); };
	if (getQueryString('orderSub') == 'desc' && getQueryString('fieldSub') == f) { replaceParamVal('orderSub','asc'); };
	if (getQueryString('fieldSub') != f) {
		var d = ob.attr('class');  //排序方式
		replaceParamVal('orderSub|fieldSub',d+"|"+f);
	}
}

//排序2:特殊字段排序
function dosortSp(ob,f){	
	if (getQueryString('orderSp') == 'asc' && getQueryString('fieldSp') == f) { replaceParamVal('orderSp','desc'); };
	if (getQueryString('orderSp') == 'desc' && getQueryString('fieldSp') == f) { replaceParamVal('orderSp','asc'); };
	if (getQueryString('fieldSp') != f) {
		var d = ob.attr('class');  //排序方式
		replaceParamVal('orderSp|fieldSp',d+"|"+f);
	}
}

//分类筛选
function gourl(i,j){
	var c = $("#"+i).val();  //参数值
	if (j) { var c = j; };
	replaceParamVal(i,c);
}

//获取url特定参数值
function getQueryString(name) {
  var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
  var r = window.location.search.substr(1).match(reg);
  if (r != null) return unescape(r[2]); return null;
}

function replaceParamVal(strArr,reArr) {
  var nUrl = this.location.href.toString(); //获取当前url
  var strArr = strArr.split("|"); //将传入的参数集合转成数组
  var reArr = reArr.split("|"); //将传入的参数对应值集合转成数组
  for(var i=0;i<strArr.length;i++){
       if (getQueryString(strArr[i]) == null) {
            nUrl += '&'+strArr[i]+'='+reArr[i];
            continue;
       };
       var re = eval('/('+ strArr[i] +'=)([^&]*)/gi'); //获取传入参数的当前值
       var nUrl = nUrl.replace(re,strArr[i]+'='+reArr[i]); //替换为传入的对应值
  }
  this.location = nUrl; //刷新页面
}


$(function(){
	//搜索功能
	$("#search").click(function(){
		var url    = $(this).attr('url');
		var type   = $("#sch-sort-txt").attr("data");
        var query  = $('.search-form').find('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
		if(type != ''){
			query = 'type=' + type + "&" + query;
        }
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
        url += '&ask=1';
		window.location.href = url;
	});

	/* 状态搜索子菜单 */
	$(".search-form").find(".drop-down").hover(function(){
		$("#sub-sch-menu").removeClass("hidden");
	},function(){
		$("#sub-sch-menu").addClass("hidden");
	});
	$("#sub-sch-menu li").find("a").each(function(){
		$(this).click(function(){
			var text = $(this).text();
			$("#sch-sort-txt").text(text).attr("data",$(this).attr("value"));
			$("#sub-sch-menu").addClass("hidden");
		})
	});

    //回车自动提交
    $('.search-form').find('input').keyup(function(event){
        if(event.keyCode===13){
            $("#search").click();
        }
    });

    $('#time-start').datetimepicker({
        format: 'yyyy-mm-dd',
        language:"zh-CN",
	    minView:2,
	    autoclose:true
    });

    $('#datetimepicker').datetimepicker({
       format: 'yyyy-mm-dd',
        language:"zh-CN",
        minView:2,
        autoclose:true,
        pickerPosition:'bottom-left'
    });
})





</script>
</block>



