<extend name="Public/base" />

<block name="body">

<style>
	.columns-mod { width:460px; }
	.columns-mod th { width:auto; }
	.sys-info th, .sys-info td { padding:6px 0; line-height:18px; height:18px;}
	.fb .fl { margin-left:30px; margin-top:20px; }
	.cf span,.fb span { font-weight:bold; }
</style>

<form action="{:U('Psi/in_return')}" method="POST" id="list" class="form-horizontal">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>创建退货单</h2>
	</div>
	<div class="cf">
		<div class="fl">
            <span>退货单号：</span>
            <input name="no" type="text" class="text large" placeholder="请填写退货单号" value="{:C('SITE_RE_NO')}"/>&nbsp;&nbsp;&nbsp;
            <span>采购合同单号：</span>
			{$_list.no}&nbsp;&nbsp;&nbsp;
            <button class="btn confirm ajax-post" href="javascript:void(0);" id="submit" type="submit" target-form="form-horizontal">生成退货单</button>
        </div>
        <div class="fr">
        	<span>退货时间：</span>
        	<input name="date" type="text" class="text time" placeholder="请选择时间"/>&nbsp;&nbsp;&nbsp;
			<span>单位：元&nbsp;&nbsp;&nbsp;</span>
        </div>
    </div>
	    <!-- 数据列表 -->
	    <div class="data-table table-striped">
		<table class="">
	    <thead>
	        <tr>
	        	<th>Id</th>
				<th width="20%">产品编码</th>
				<th width="20%">产品名称</th>
				<th width="">OE号</th>
				<th width="">单位</th>
				<th width="">适用车型</th>
				<th width="10%">合同数量</th>
				<th width="10%">实际在库数</th>
				<th width="10%">退货数</th>
			</tr>
	    </thead>
	    <tbody>
			<notempty name="_list">
			<volist name="_list.info" id="vo" key="i">
				<notempty name="vo.code">
				<tr>
					<td>{$vo.id}</td>
		            <td><a href="{:U('Psi/stock_info')}&id={$vo.sid}">{$vo.code}</a></td>
		            <td>{$vo.name}</td>
					<td>{$vo.OE}</td>
					<td>{$vo.unit}</td>
					<td>{$vo.standard}</td>
					<td>{$vo.num}</td>
					<td><span style="color:red">{$vo.in_num}</span></td>
					<td><input type="number" style="width:60px;" name="info[{$i}][num]" value="0" class="num"></td>
					<input type="hidden" name="info[{$i}][sid]" value="{$vo.sid}" />
					<input type="hidden" name="info[{$i}][code]" value="{$vo.code}" />
					<input type="hidden" value="{$vo.in_num}" id="num_{$i}" />
				</tr>
				<?php $sum += $vo['num']; ?>
				<?php $sum_in += $vo['in_num']; ?>
				</notempty>
			</volist>
			<tr>
				<td colspan="6" style="font-weight:bold; text-align:center"> 合 计 </td>
				<td>{$sum}</td>
				<td>{$sum_in}</td>
				<td><span id="sum_do">0</span></td>
			</tr>
			<input type="hidden" name="pid" value="{$_list.supplier.id}" />
			<input type="hidden" name="from_no" value="{$_list.no}" /> 
			<input type="hidden" name="from_id" value="{$_list.id}" />

			<else/>
			<td colspan="9" class="text-center"> aOh! 暂时还没有内容! </td>
			</notempty>
		</tbody>
	    </table>
		</div>
	    <div class="page">
	        {$_page}
	    </div>
		<div class="fb">
			<span>退货备注：</span>
			<input name="note" type="text" class="text input-large" value="{:C('SITE_RE_NOTE')}">&nbsp;&nbsp;&nbsp;
			<span>开票：</span>
			<input name="info1" type="text" class="text input-small" value="{:C('SITE_RE_INFO1')}">&nbsp;&nbsp;&nbsp;
			<span>审核：</span>
			<input name="info2" type="text" class="text input-small" value="{:C('SITE_RE_INFO2')}">&nbsp;&nbsp;&nbsp;
			<span>操作时间：</span>
			<?php echo date('Y-m-d H:i:s',time()); ?>
		</div>
	</form>

	<div class="fb">
			<div class="fl">
				<div class="columns-mod">
			        <div class="hd cf">
			            <h5>供方</h5>
			            <div class="title-opt"></div>
			        </div>
       				<div class="bd" style="height:auto;"><div class="sys-info">
            			<table><tbody>
			                <tr>
			                    <th>单位名称（章）</th>
			                    <td>{$_list.supplier.company}</td>
			                </tr>
			                <tr>
			                    <th>单位地址</th>
			                    <td>{$_list.supplier.address}</td>
			                </tr>
			                <tr>
			                    <th>法定代表人</th>
			                    <td>{$_list.supplier.name}</td>
			                </tr>
			                <tr>
			                    <th>委托代理人</th>
			                    <td>{$_list.supplier.consigner}</td>
			                </tr>
			                <tr>
			                    <th>电话</th>
			                    <td>{$_list.supplier.mobile}</td>
			                </tr>
			                <tr>
			                    <th>传真</th>
			                    <td>{$_list.supplier.fax}</td>
			                </tr>
            			</tbody></table>
        			</div></div>
    			</div>				
			</div>
			<div class="fl">
				<div class="columns-mod">
			        <div class="hd cf">
			            <h5>需方</h5>
			            <div class="title-opt"></div>
			        </div>
       				<div class="bd" style="height:auto;"><div class="sys-info">
            			<table><tbody>
			                <tr>
			                    <th>单位名称（章）</th>
			                    <td><?php echo C('COMPANY_NAME') ?></td>
			                </tr>
			                <tr>
			                    <th>单位地址</th>
			                    <td><?php echo C('COMPANY_ADDRESS') ?></td>
			                </tr>
			                <tr>
			                    <th>法定代表人</th>
			                    <td><?php echo C('COMPANY_PERSON') ?></td>
			                </tr>
			                <tr>
			                    <th>委托代理人</th>
			                    <td><?php echo C('COMPANY_CONSIGNER') ?></td>
			                </tr>
			                <tr>
			                    <th>公司电话</th>
			                    <td><?php echo C('COMPANY_PHONE') ?></td>
			                </tr>
			                <tr>
			                    <th>公司传真</th>
			                    <td><?php echo C('COMPANY_FAX') ?></td>
			                </tr>	
            			</tbody></table>
        			</div></div>
    			</div>	
			</div>
			<div style="clear:both"></div>
		</div>

</block>

<block name="script">
	<script type="text/javascript">
		$(function(){
		    $('.num').change(function() {
		    	if ( $(this).val() < 0 ) { 
					alert('数目不能小于等于零。'); 
					$(this).val(0); 
					return false; 
				};
		    	var sum = 0;
		    	var i = 1;
		    	$('.num').each(function() {
		    		var last = $('#num_'+i).val();
		    		if (parseInt($(this).val()) > parseInt(last)) { 
		    			alert('数目不能大于该采购合同产品的入库量。'); 
		    			$(this).val(0); 
		    		};
		    		sum += parseInt($(this).val());	
		    		i++;	    		
		    	});
		    	$('#sum_do').html(sum);
		    });
		});
	</script>

	<link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
    <php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>
    <link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
    <script type="text/javascript">
    $(function(){
        $('.time').datetimepicker({
            format: 'yyyy-mm-dd',
            language:"zh-CN",
            minView:2,
            autoclose:true
        });
        showTab();
    });
    </script>


	<script type="text/javascript">
	    //导航高亮
	    highlight_subnav('{:U('Psi/contract_list')}');
	</script>

</block>



