<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>订单打印|德众进销存管理系统</title>
    <link href="/Public/favicon.ico" type="image/x-icon" rel="shortcut icon">
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/Public/static/jquery-1.10.2.min.js"></script>
    <![endif]--><!--[if gte IE 9]><!-->
    <script type="text/javascript" src="/Public/static/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="/Public/Admin/js/jquery.mousewheel.js"></script>
    <!--<![endif]-->
	<link rel="stylesheet" type="text/css" href="/Public/Admin/css/print.css" media="all">
</head>
<body>
	<div class="main">
		<div>
			<p class="title">{:C('COMPANY_NAME')}</p>

			<p class="sub-title">奥迈德品牌<br>销售订单</p>
		</div>
		<div>
			<div class="left-1">订单编号：{$info.order_id}</div>
			<div class="left-3">订购日期：{$info.date|date='Y-m-d H:i',###}</div>
			<div class="clear"></div>
		</div>
		<div class="data-area">
			<table class="tb">
				<thead>
					<tr>
						<td>序号</td>
						<td>产品名称</td>
						<td>产品编码</td>
						<td>OE码</td>
						<td>适用车型</td>
						<td>单价</td>
						<td>订购量</td>
						<td>金额（元）</td>
					</tr>
				</thead>
				<tbody>
					<volist name="info.goods" id="vo" key="i">
						<tr>
				            <td>{$i}</td>
				            <td>{$vo.name}</td>
				            <td>{$vo.code}</td>
				            <td>{$vo.OE}</td>
							<td>{$vo.standard}</td>
							<td>{$vo.sale_price_off}</td>
							<td>{$vo.num}</td>
							<td><?php echo $vo['sale_price_off']*$vo['num']; ?></td>
							<?php $sum += $vo['sale_price_off']*$vo['num']; ?>
						</tr>
					</volist>	
				</tbody>
				<tr>
					<td colspan="5"> 合  计 </td>
					<td> —— </td>
					<td> —— </td>
					<td>{$sum}</td>
				</tr>
				<tr>
					<td> 合同备注 </td>
					<td colspan="12">
						{$info.note}
					</td>
				</tr>
			</table>		
		</div>
		<div class="foot">
			<div class="left-4">
				<p>客户信息</p>
				<p>客户名称:{$info.company}</p>
				<p>订购账号:{$info.username}</p>
				<p>联系人:{$info.name}</p>
				<p>联系电话:{$info.tel}</p>
				<p>收货地址:{$info.address}</p>
			</div>
			<div class="left-logo">
				<img src="/Public/Admin/images/print_logo.jpg">
			</div>
			<div class="left-5">
				<p>商户信息</p>
				<p>单位名称（章）:{:C('COMPANY_NAME')}</p>
				<p>单位地址:{:C('COMPANY_ADDRESS')}</p>
				<p>法定代表人:{:C('COMPANY_PERSON')}</p>
				<p>委托代理人:{:C('COMPANY_CONSIGNER')}</p>
				<p>公司电话:{:C('COMPANY_PHONE')}</p>
				<p>公司传真:{:C('COMPANY_FAX')}</p>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<script>
		window.onload = function() {
   			 window.print(); //打印当前页面
		}
	</script>
</body>
</html>