<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>销售出库</h2>
    </div>
    <form action="{:U()}" method="post" class="form-horizontal">
        <div class="form-item">
            <label class="item-label">产品编码<span class="check-tips">（请按15位标准格式填写，例：AMD-DPJ-JZH-L01）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="code" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">出库对象<span class="check-tips"></span></label>
            <div class="controls">
                <input type="radio" name="customer" value="99" onclick="showCon(1);">&nbsp;加盟商&nbsp;&nbsp;&nbsp;
                <input type="radio" name="customer" value="99" onclick="showCon(2);">&nbsp;客户
            </div>
        </div>
        <div class="form-item" id="insertCon"></div>        
        <div class="form-item">
            <label class="item-label">出库价格<span class="check-tips">(如留空，则按产品录入时的建议销售价出库)</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="price" value="">
            </div>
        </div>
        <div class="form-item">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('User/index')}');

        function showCon(n){
        	var html = "";
        	if (n == 1) {
        		html += '<label class="item-label">加盟商<span class="check-tips"></span></label>';
        		html += '<div class="controls">';
                html += '<select name="joiner">';
                html += '<option value="">选择加盟商</option>';
                html += '<volist name="_joiner" id="vo">'
                html += '<option value="{$vo.uid}">{$vo.username}</option>'
                html += '</volist>'
                html += '</select></div>';               
        		$("#insertCon").html(html);
        	} else {
    			html += '<label class="item-label">客户名称<span class="check-tips"></span></label>';
            	html += '<div class="controls">';
               	html += '<input type="text" class="text input-large" name="custom">';         
            	html += '</div>';
            	$("#insertCon").html(html);
        	}
        }


    </script>
</block>
