<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>修改供应商</h2>
    </div>
    <form action="{:U()}" method="post" class="form-horizontal">
        <div class="form-item">
            <label class="item-label">供应商编码<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="no" value="{$data.no}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">供应商名称<span class="check-tips">（15字以内）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="company" value="{$data.company}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">供应商地址<span class="check-tips">（50字以内）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="address" value="{$data.address}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">法定代表人<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="name" value="{$data.name}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">委托代表人<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="consigner" value="{$data.consigner}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">委托代表人电话<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="consigner_mobile" value="{$data.consigner_mobile}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">联系电话<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="mobile" value="{$data.mobile}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">公司传真<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="fax" value="{$data.fax}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">开户银行<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="bank" value="{$data.bank}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">开户人<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="account_user" value="{$data.account_user}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">开户账号<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="account" value="{$data.account}">
            </div>
        </div>
        
        <div class="form-item">
            <label class="item-label">备注<span class="check-tips">（50字以内）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="note" value="{$data.note}">
            </div>
        </div>
        <input type="hidden" name="id" value="{$data.id}">
        <div class="form-item">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('Psi/supplier')}');
    </script>
</block>
