<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>手动调节量</h2>
    </div>
    <form action="{:U()}" method="post" class="form-horizontal">
        <div class="form-item">
            <label class="item-label">库存量<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" name="num" class="text" value="{$_num}">
            </div>
        </div>
        <input type="hidden" name="ids" value="{$_ids}">
        <div class="form-item">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>

    <div class="fb">
        <span style="color:grey">友情提示：请慎重手动调节库存量！</span>
    </div> 

</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('Psi/inventory')}');
    </script>
</block>
