<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>设置库存预警量</h2>
    </div>
    <form action="{:U()}" method="post" class="form-horizontal">
        <div class="form-item">
            <label class="item-label">最小预警量<span class="check-tips">（0为不限制）</span></label>
            <div class="controls">
                <input type="text" name="min_num" class="text" value="{$_min_num}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">最大预警量<span class="check-tips">（0为不限制）</span></label>
            <div class="controls">
                <input type="text" name="max_num" class="text" value="{$_max_num}">
            </div>
        </div>
        <input type="hidden" name="ids" value="{$_ids}">
        <div class="form-item">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>

    <div class="fb">
        <span style="color:grey">友情提示：批量编辑将会使勾选的产品统一设置成相同的预警值！</span>
    </div> 

</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('Psi/inventory')}');
    </script>
</block>
